

.banner{
    padding:0px 5%;
    height: 344px;
    width: 100%;
    background:  #F6AB49;
    .col-md-3,.col-md-9{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}