


.shop_product{
    padding:30px 5%;
    .shop_product_header{
        display: flex;
        justify-content: space-between;
    }



    .shop_product_pagination{
        margin-top:30px;
        display: flex;
        justify-content: flex-end;
        ul{
            li{
                display: inline;
                list-style: none;
                border:1px solid;
                padding:2px 9px;
                margin:5px;
                border-radius: 2px;
                cursor: pointer;
                li:active,li:focus{
                    color: #1A9CB7;
                }
            }
        }
    }
}