

.pho_bien{
    background: #F5F5F5;
    padding:10px 5%;
    .contain{
        .pho_bien_1{
            border:1px solid;
        }
        .pho_bien_2{
            border:1px solid;
        }
    }
}